/* ==============================================================================
 *                                     HEADER
 * ==============================================================================
 */

.header {
  color: var(--white);
  height: var(--headerHeight);
  background: var(--headerBackground);
  box-shadow: var(--shadow-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--containerPaddingX);

  /* Fixed Heading Modifier */
  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.header__nav {
  a {
    color: var(--white);
    text-decoration: none;

    + a {
      margin-left: 10px;
    }
  }
}
